.ref-media .ref-preview .ref-image, .ref-media .ref-thumbnails .ref-image {
  aspect-ratio: 4 / 5 !important;
  background-size: cover !important;
  background-position: center !important;
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
  border: 1px solid #ddd;
}

