:root, [data-bs-theme=light] {
  --bs-primary: #000000;
  --bs-primary-rgb: 0,0,0;
  --bs-primary-text-emphasis: #000000;
  --bs-primary-bg-subtle: #CCCCCC;
  --bs-primary-border-subtle: #999999;
  --bs-secondary: #ffffff;
  --bs-secondary-rgb: 255,255,255;
  --bs-secondary-text-emphasis: #666666;
  --bs-secondary-bg-subtle: #FFFFFF;
  --bs-secondary-border-subtle: #FFFFFF;
  --bs-light: #000000;
  --bs-light-rgb: 0,0,0;
  --bs-light-text-emphasis: #000000;
  --bs-light-bg-subtle: #CCCCCC;
  --bs-light-border-subtle: #999999;
  --bs-body-color: #000000;
  --bs-body-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(0,0,0,0.75);
  --bs-secondary-color-rgb: 0,0,0,0.75;
  --bs-tertiary-color: rgba(0,0,0,0.5);
  --bs-tertiary-color-rgb: 0,0,0,0.5;
  --bs-tertiary-bg: #ffffff;
  --bs-tertiary-bg-rgb: 255,255,255;
  --bs-body-font-family: 'Plus Jakarta Sans', sans-serif;
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #ffffff;
  --bs-link-hover-color-rgb: 255,255,255;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-primary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-outline-secondary {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-light {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

[data-bs-theme=dark] {
  --bs-link-color: #787878;
  --bs-link-color-rgb: 120,120,120;
}

